@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
html, body{
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    background-color: rgb(243 244 246);
}

.calendar-main {
    width: 100%;
    max-width: auto;
}

#calendar-swiper {
    overflow: hidden;
}

.swiper-wrapper {
    display: flex;
    padding-left: 11px;
    box-sizing: content-box;
}

.swiper-slide {
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    overflow: hidden;
    display: grid;
    place-items: center;
    width: 40px !important;
    height: 40px !important;
}

.swiper-slide .content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.swiper-slide.today {
    border: dotted #FACC15;
}

.swiper-slide.counted {
    background-color: #FACC15;
    border-color: #FACC15;
    color: #FFFFFF;
}

#items, #counts {
    height: 458px !important;
    overflow-y: auto;
}

#interactive{
    position: absolute;
    z-index: 99;
    left: 10%;
    right: 10%;
    width: 80%;
    max-height: 600px;
}
video {
    border-radius: 0.6rem;
    background-color: black;
}

#closeCam {
    position: relative;
    top: 1rem;
    left: 95%;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: rgb(243 244 246);
}